body {
  margin: 0;
  height: 100vh;
  background-color: darkgray;
}

/* {
  border: 1px solid;
}*/

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.column {
  flex-direction: column;
}

.blue1 {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.mg8 {
  margin: 8px;
}

.mgr8 {
  margin-right: 8px;
}
.mgt8 {
  margin-top: 8px;
}

.mgl8 {
  margin-left: 8px;
}
